<h2>Posts of all users </h2>

<% @posts.each do |post| %>
  <h3><%= link_to "#{post.title}", user_post_path(post.user_id, post.id)  %> by user: <%= post.user.username %></h3>
  <div><%= post.body %></div>
<% end %>