<h2>Posts of user <%= current_user.username %></h2>

<% @posts.each do |post| %>
  <h3><%= link_to "#{post.title}", user_post_path(current_user.id, post.id)  %></h3>
  <div><%= post.body %></div>
<% end %>